{% extends "mainapp/base.html" %}
{% load static %}
{% block styling %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<style type="text/css">
    .overlay {
    height: 7%;
    }

    #editor1 {
      border: 3px inset grey;
      height: 100px;
      width: 381px;
      margin: 10px auto 0;
     }
    fieldset {
      margin: 2px auto 15px;
      width: 358px;
    }
    button {
      width: 5ex;
      text-align: center;
      padding: 1px 3px;
    }
</style>
<main>
    <section class="overview-wrap" id="overview">
        <div class="container">
            <div class="contenedor">
                <h4 class="title-overview wow fadeInUp" style="font-size: 30px;">Create an Article</h4>
                <div>
                    <div class="form-group">
                        <label for="title">Title</label>
                        <input type="text" class="form-control" id="title" placeholder="Enter the article title." required>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea contenteditable="true" class="form-control" id="description" rows="10" placeholder="Enter the article description." required></textarea>

                        <fieldset>
    <button class="fontStyle" onclick="document.execCommand('italic',false,null);" title="Italicize Highlighted Text"><i>I</i>
    </button>
    <button class="fontStyle" onclick="document.execCommand( 'bold',false,null);" title="Bold Highlighted Text"><b>B</b>
    </button>
    <button class="fontStyle" onclick="document.execCommand( 'underline',false,null);"><u>U</u>
    </button>
  </fieldset>
                    </div>
                    <div class="custom-file form-control-sm mt-3" style="max-width: 300px;">
                        <input type="file" class="custom-file-input" id="forum_image" name="forum_image" />
                        <label class="custom-file-label" for="forum_image">Attachment</label>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    new WOW().init();
</script>
<script>
    $(window).on("scroll", function() {
        if ($(this).scrollTop() > 10) {
            $("nav.navbar").addClass("mybg-dark");
            $("nav.navbar").addClass("navbar-shrink");
        } else {
            $("nav.navbar").removeClass("mybg-dark");
            $("nav.navbar").removeClass("navbar-shrink");
        }
    });
</script>
{% endblock %}