{% extends "mainapp/base.html" %}
{% load static %}

{% block styling %}
<div class="sesgoabajo"></div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<main>
	<section class="overview-wrap" id="overview">
		<div class="container">
			<div class="contenedor">
				<h2 class="title-overview wow fadeInUp">ABOUT US</h2>
				<p> <!-- class="subtitle-overview wow fadeInUp" -->
					<span style="box-sizing: border-box; color: #666666; text-align: justify; font-size: 18px;">RevivingMinds</span>
					<span style="color: #666666; font-size: 14px; text-align: justify;">&nbsp;is about studying human thoughts &amp; behaviour, and developing concepts &amp; practice towards holistic well-being of individuals, families and societies, thereby building healthier inidividuals and stronger communities.</span>
					<span style="color: #666666; font-size: 18px; text-align: justify;">RevivingMinds</span>
					<span style="color: #666666; font-size: 14px; text-align: justify;">&nbsp;offer consultations, therapies and support groups for all physical &amp; psycho-social stress and problems at home, work or at any situation, taking into consideration the spiritual &amp; cultural values.</span>
				</p>
				<div class="row justify-content-center">
					<a class="btn btn-secondary" href="#" role="button" style="width:150px;border-radius: 0%;">Read More</a>
				</div>
				







				<div class="row">
					<div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
						<div class="overview-box mx-auto">
							<div class="features-icons-icon d-flex">
								<i class="fa fa-html5 fa-5x html5 m-auto"></i>
							</div>
							<h5>Html 5</h5>
							<p class=" mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo ornare!</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
						<div class="overview-box mx-auto">
							<div class="features-icons-icon d-flex">
								<i class="fa fa-css3 fa-5x css3 m-auto"></i>
							</div>
							<h5>CSS 3</h5>
							<p class=" mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo ornare!</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
						<div class="overview-box mx-auto">
							<div class="features-icons-icon d-flex">
								<i class="fa fa-android fa-5x android m-auto"></i>
							</div>
							<h5>Android</h5>
							<p class=" mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo ornare!</p>
						</div>
					</div>
					<div class="col-md-6 col-lg-3 wow bounceInUp" data-wow-duration="1.4s">
						<div class="overview-box mx-auto">
							<div class="features-icons-icon d-flex">
								<i class="fa fa-drupal fa-5x drupal m-auto"></i>
							</div>
							<h5>Drupal</h5>
							<p class=" mb-0">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo ornare!</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="galeria">
		<div class="sesgoarriba"></div>
		<div class="imagenes">
			<img src="https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" alt="" class="img-fluid">
			<div class="enmica">
				<h2>Dipendra's Design</h2>
				<div></div>
			</div>
		</div>
		<div class="sesgoabajo"></div>
	</section>
	<!--Our Team-->
	<section class="our-team" id="team">
		<div class="container">
			<h2 class="title-our-team wow fadeInUp">The Journals</h2>
			<p class="subtitle-our-team wow fadeInUp">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</p>
			<ul class="row">
				<li class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-duration="1.4s">
					<div class="mycard-block equal-hight">
						<figure><img src="https://images.pexels.com/photos/213117/pexels-photo-213117.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid" alt=""></figure>
						<h3><a href="javascript:void(0)">Lorem Ipsum</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
						<ul class="follow-us clearfix">
							<li><a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-linkedin " ></i></a></li>
						</ul>
					</div>
				</li>
				<li class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-duration="1.4s">
					<div class="mycard-block equal-hight">
						<figure><img src="https://images.pexels.com/photos/846741/pexels-photo-846741.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid" alt=""></figure>
						<h3><a href="javascript:void(0)">Lorem Ipsum</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
						<ul class="follow-us clearfix">
							<li><a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-linkedin " ></i></a></li>
						</ul>
					</div>
				</li>
				<li class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-duration="1.4s">
					<div class="mycard-block equal-hight" >
						<figure><img src="https://images.pexels.com/photos/874158/pexels-photo-874158.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid" alt=""></figure>
						<h3><a href="javascript:void(0)">Lorem Ipsum</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
						<ul class="follow-us clearfix">
							<li><a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-linkedin " ></i></a></li>
						</ul>
					</div>
				</li>
				<li class="col-12 col-md-6 col-lg-3 wow fadeInLeft" data-wow-duration="1.4s">
					<div class="mycard-block equal-hight" >
						<figure><img src="https://images.pexels.com/photos/1065084/pexels-photo-1065084.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid" alt=""></figure>
						<h3><a href="javascript:void(0)">Lorem Ipsum</a></h3>
						<p>Lorem ipsum dolor sit amet consectetur adipiscing elit.</p>
						<ul class="follow-us clearfix">
							<li><a href="#" class="btn btn-circle my-social-btn fb"><i class="fa fa-facebook " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn twitter"><i class="fa fa-twitter " ></i></a></li>
							<li><a href="#" class="btn btn-circle my-social-btn google"><i class="fa fa-linkedin " ></i></a></li>
						</ul>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="testimonials-wrap" id="testimonials">
		<div class="sesgoarriba"></div>
		<div class="container">
			<div class="contenedor">
				<h2 class="title-testimonials wow fadeInUp">Happy Clients</h2>
				<h3 class="subtitle-testimonials wow fadeInUp">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</h3>
				<!-- banner starts -->
				<div class="slide-one">
					<div id="demo" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ul class="carousel-indicators">
							<li data-target="#demo" data-slide-to="0" class="active"></li>
							<li data-target="#demo" data-slide-to="1"></li>
							<li data-target="#demo" data-slide-to="2"></li>
						</ul>
						<!-- The slideshow -->
						<div class="carousel-inner">
							<div class="carousel-item active ">
								<div class="banner-slide">
									<img src="https://images.pexels.com/photos/91227/pexels-photo-91227.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
									<h5>Lorem Ipsum -</h5>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
									</p>
								</div>
							</div>
							<div class="carousel-item ">
								<div class="banner-slide">
									<img src="https://images.pexels.com/photos/903661/pexels-photo-903661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid">
									<h5>Lorem Ipsum -</h5>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.
									</p>
								</div>
							</div>
							<div class="carousel-item">
								<div class="banner-slide">
									<img src="https://images.pexels.com/photos/713520/pexels-photo-713520.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940" class="img-fluid">
									<h5>Lorem Ipsum -</h5>
									<p>Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus.</p>
								</div>
							</div>
						</div>
						<!-- Left and right controls -->
						<a class="carousel-control-prev " href="#demo" data-slide="prev">
						<span class="carousel-control-prev-icon"></span>
						</a>
						<a class="carousel-control-next" href="#demo" data-slide="next">
						<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
			</div>
		</div>
		<div class="sesgoabajo"></div>
	</section>
	<!--latest post-->
	<section class="blog-wrap" id="blog">
		<div class="container-fluid">
			<h2 class="title-blog wow fadeInUp">The Articles</h2>
			<p class="subtitle-blog wow fadeInUp">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus velit nam id purus tellus hendrerit mi dapibus</p>
			<div class="row">
				<div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
					<div class="card">
						<figure class="text-center">
							<img src="https://images.pexels.com/photos/1432942/pexels-photo-1432942.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
						</figure>
						<div class="card-body">
							<h5 class="card-title">Lorem ipsum dolor sit amet</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
							<a href="#" class="">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
					<div class="card">
						<figure class="text-center">
							<img src="https://images.pexels.com/photos/929831/pexels-photo-929831.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
						</figure>
						<div class="card-body">
							<h5 class="card-title">Lorem ipsum dolor sit amet</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
							<a href="#" class="">Read more</a>
						</div>
					</div>
				</div>
				<div class="col-md-4 wow bounceInUp" data-wow-duration="1.4s">
					<div class="card">
						<figure class="text-center">
							<img src="https://images.pexels.com/photos/938965/pexels-photo-938965.jpeg?auto=compress&cs=tinysrgb&h=650&w=940" class="img-fluid">
						</figure>
						<div class="card-body">
							<h5 class="card-title">Lorem ipsum dolor sit amet</h5>
							<p class="card-text">Lorem ipsum dolor sit amet consectetur adipiscing elit proin leo leo ornare nec vulputate tempus.</p>
							<a href="#" class="">Read more</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="cta contact-wrap" id="contact">
	    <div class="container">
	        <div class="row">
	            <div class="row">
	                <div class="col-md-4">
	                    <div class="card">
	                        <div class="card-body">
	                        	<div class="row justify-content-center">
	                        		<h5 class="card-title">Get in Touch</h5>
	                        	</div>
	                            <div class="contactForm" style="padding: 30px 5px 20px;">
	                        <form>
	                            <div class="form-group">
	                            	<input class="form-control form-control-sm" type="text" name="name" placeholder="Full Name" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="email" name="email" placeholder="Email" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="text" name="subject" placeholder="Subject" required>
	                            </div>
	                            <div class="form-group">
	                                <textarea class="form-control form-control-sm" rows="4" cols="50" placeholder="Message"></textarea>
	                            </div>
	                            <div class="form-group">
	                                <div class="col-md-12">
	                                    <input type="submit" name="submit" value="Send" class="btn-login">
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <div class="card">
	                        <div class="card-body">
	                        	<div class="row justify-content-center">
	                        		<h5 class="card-title">Join Us</h5>
	                        	</div>
	                            <div class="contactForm" style="padding: 30px 5px 20px;">
	                        <form>
	                            <div class="form-group">
	                            	<input class="form-control form-control-sm" type="text" name="name" placeholder="Full Name" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="email" name="email" placeholder="Email" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="text" name="subject" placeholder="Subject" required>
	                            </div>
	                            <div class="form-group">
	                                <textarea class="form-control form-control-sm" rows="4" cols="50" placeholder="Message"></textarea>
	                            </div>
	                            <div class="form-group">
	                                <div class="col-md-12">
	                                    <input type="submit" name="submit" value="Join Us" class="btn-login">
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                        </div>
	                    </div>
	                </div>
	                <div class="col-md-4">
	                    <div class="card">
	                        <div class="card-body">
	                        	<div class="row justify-content-center">
	                        		<h5 class="card-title">Quick Contact</h5>
	                        	</div>
	                            <div class="contactForm" style="padding: 30px 5px 20px;">
	                        <form>
	                            <div class="form-group">
	                            	<input class="form-control form-control-sm" type="text" name="name" placeholder="Full Name" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="email" name="email" placeholder="Email" required>
	                            </div>
	                            <div class="form-group">
	                                <input class="form-control form-control-sm" type="text" name="subject" placeholder="Subject" required>
	                            </div>
	                            <div class="form-group">
	                                <textarea class="form-control form-control-sm" rows="4" cols="50" placeholder="Message"></textarea>
	                            </div>
	                            <div class="form-group">
	                                <div class="col-md-12">
	                                    <input type="submit" name="submit" value="Send" class="btn-login">
	                                </div>
	                            </div>
	                        </form>
	                    </div>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</section>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js"></script>
<script>
	new WOW().init();
</script>

<script>
	$(window).on("scroll", function() {
		if ($(this).scrollTop() > 10) {
			$("nav.navbar").addClass("mybg-dark");
			$("nav.navbar").addClass("navbar-shrink");
		} else {
			$("nav.navbar").removeClass("mybg-dark");
			$("nav.navbar").removeClass("navbar-shrink");
		}
	});
</script>
{% endblock %}