{% extends "mainapp/base.html" %}
{% load static %}
{% block styling %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<style type="text/css">
    .overlay {
    height: 7%;
    }
    #articleBody p {
    	text-align: justify;
    }
</style>
<!-- TODO: Make the form below a post request and create a model for it. -->
<main>
    <section class="overview-wrap" id="overview">
        <div class="container">
            <div class="contenedor">
                <h4 class="title-overview wow fadeInUp" style="font-size: 30px;">Contact</h4>
                <div class="row">
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <h5 class="card-title">Contact Us</h5>
                                </div>
                                <div class="contactForm" style="padding: 30px 5px 20px;">
                                    <form method="post">
                                        <input type="text" name="contact-us-form-in-about-contact" hidden>
                                        {% csrf_token %}
                                        {% if message %}
                                        <div style="color: black; text-align: center;" class="alert alert-info" role="alert">{{message}}</div>
                                        {% endif %}
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="text" name="full-name" placeholder="Full Name" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="email" name="email" placeholder="Email" required>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control form-control-sm" type="text" name="subject" placeholder="Subject" required>
                                        </div>
                                        <div class="form-group">
                                            <textarea class="form-control form-control-sm" name="message" rows="4" cols="50" placeholder="Message"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-12">
                                                <input type="submit" name="submit" value="Send" class="btn-login">
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="row justify-content-center">
                                    <h5 class="card-title">Contact Info</h5>
                                </div>
                                <div class="contactForm" style="padding: 30px 5px 20px;">
                                    <form>
                                        <div class="form-group">
                                            <i class="fa fa-envelope" style="font-size:24px"></i>
                                            <span>
                                                <a style="text-transform: lowercase;" href="mailto:info@revivingminds.org">info@revivingminds.org</a>
                                            </span>
                                        </div>
                                        <div class="form-group">
                                            <i class="fa fa-desktop" style="font-size:24px"></i>
                                            <span>
                                                <a style="text-transform: lowercase;" href="http://www.revivingminds.org">http://www.revivingminds.org</a>
                                            </span>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<script>
    new WOW().init();
</script>
<script>
    $(window).on("scroll", function() {
    	if ($(this).scrollTop() > 10) {
    		$("nav.navbar").addClass("mybg-dark");
    		$("nav.navbar").addClass("navbar-shrink");
    	} else {
    		$("nav.navbar").removeClass("mybg-dark");
    		$("nav.navbar").removeClass("navbar-shrink");
    	}
    });
</script>
{% endblock %}