{% extends "mainapp/base.html" %}
{% load static %}
{% block styling %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<style type="text/css">
	.overlay {
	height: 7%;
	}
	#articleBody p {
		text-align: justify;
	}
</style>
<main>
	<section class="overview-wrap" id="overview">
		<div class="container">
			<div class="contenedor">
				<h4 class="title-overview wow fadeInUp" style="font-size: 30px;">Disclaimer</h4>
				<div class="row">
					<div class="col-lg-12">
						<div class="span12  duration-500">
							<div class="rspbld-text-block text-left">
								<div class="rspbld-content">
									<p style="text-align: justify;">◆ The content is to promote well-being in accordance to the vision of RevivingMinds and does not replace biomedical care.</p>
									<p style="text-align: justify;">◆ It is non-political and unbiased in nature, however reserves the right to discuss issues in line with the objectives of RevivingMinds.</p>
									<p style="text-align: justify;">◆ The publications directly relate to the goals of RevivingMinds and do not contain any matter pertaining to any particular individual, community or organisation. Confidentiality is maintained when case-studies are discussed. Consent is obtained, as necessary and relevant. True life incidents of the clients would be amended appropriately and as relevant so as not to disclose identities, but to benefit the readers.</p>
									<p style="text-align: justify;">◆ Spirituality is discussed often from the perspective of Islamic values to facilitate better understanding between cultures, promote health and health concepts in different dimensions and also that leads to mutual acceptance, contributing to global peace. However this is certainly not a spiritual healing website nor does it replace the formal learning of any religious or cultural studies.</p>
									<p style="text-align: justify;">◆ RevivingMinds does not have any other official accounts and not on social networking platforms unless the accounts are linked to the website and therefore we do not hold responsibility for any other counterfeit provisions or specious information, propagated or tried to be promoted using its name; and we&nbsp;&nbsp;do not authorise anyone to function on the behalf of RevivingMinds at any capacity unless it is authorised by the Founder and linked to the website.</p>
									<p style="text-align: justify;">◆ Inappropriate use of logos, trademark and content is subject to be reported as much as the malicious defamation of the content or abuse.</p>
									<p style="text-align: justify;">◆ Any doubts, queries, complaints or clarifications should be emailed to <a href="mailto:info@revivingminds.org">info@revivingminds.org</a></p>
									<p style="text-align: justify;">&nbsp;</p>
									<p style="text-align: justify;">&nbsp;</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<script>
	new WOW().init();
</script>
<script>
	$(window).on("scroll", function() {
		if ($(this).scrollTop() > 10) {
			$("nav.navbar").addClass("mybg-dark");
			$("nav.navbar").addClass("navbar-shrink");
		} else {
			$("nav.navbar").removeClass("mybg-dark");
			$("nav.navbar").removeClass("navbar-shrink");
		}
	});
</script>
{% endblock %}