{% extends "mainapp/base.html" %}
{% load static %}
{% block styling %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
<style type="text/css">
	.overlay {
	height: 7%;
	}
	#articleBody p {
	text-align: justify;
	}
</style>
<main>
	<section class="overview-wrap" id="overview">
		<div class="container">
			<div class="contenedor">
				<h4 class="title-overview wow fadeInUp" style="font-size: 30px;">Disclaimer</h4>
				<div class="row">
					<div class="col-lg-12">
						<div class="span12  duration-500">
							<div class="rspbld-text-block text-left rspbld-m-title">
								<div class="rspbld-content">
									<p style="text-align: justify;"><span style="padding-left: 30px; font-size: 28px;"><b>I</b></span>t was one fine afternoon, I was enjoying the spring -&nbsp;the freshness of the new leaves as they unfolded and the flowers as they slowly opened their petals. I almost forgot I had my final examination in about a few weeks, to obtain Membership of Royal College of Psychiatrists until I had my phone ringing continuously. It was from my close friend from the masjid (mosque), who used to conduct study circles. No sooner I greeted my friend, she rushed into the matter.</p>
									<p style="text-align: justify;">My friend was referring someone to me urgently that can’t wait until I complete my examination. The referred lady Mrs L had made an appointment to terminate her pregnancy the next day quite advanced in her period of gestation. Until then I was called only to give presentations at the masjid and organised lectures for the public. This was my first client outside my routine work at NHS.</p>
									<p style="text-align: justify;">There was not much history available about Mrs L, except that she had been very difficult in approaching and she had met with varied counsellors, family members, friends and ulema, but to no effect in her determination to continue with the termination of pregnancy. My friend was concerned if anything could help the situation as persuading Mrs L against termination had been going on for weeks. I offered to help and enquired if my friend would like to sit in at the consultation with Mrs L’s consent in case any translation to English would be needed. I was informed Mrs L would be accompanied by her close friend who would meet me. We agreed on to having the consultation that evening.</p>
									<p style="text-align: justify;">Later that evening, I had set the place for consultation ready. As soon as the doorbell went off, I opened it to see two lovely ladies standing in their casuals. Mrs L introduced herself followed by her friend who had then put off her smoking quickly to introduce herself. Although the spring had come, the weather was still cold outside.</p>
									<p style="text-align: justify;">I welcomed them both and led them to the consultation place. After making them feel comfortable, I started off my assessment with Mrs. L, obtaining the initial consent and detailing what I was doing. As I was proceeding with the initial complaint of wanting to terminate the pregnancy, I went into the details of it. I conducted an unbiased, non-judgmental comprehensive assessment from elaborate history taking all the way through physical symptoms, medical assessment, family, social and personal history, premorbid personality and mental state examination, along the risk assessment and formulation of the diagnosis or rather the actual problem.</p>
									<p style="text-align: justify;">I could see Mrs L developed a trust almost immediately. The more she described what she was going through actually confirmed that she had been having symptoms of obsessive compulsive disorder. This had affected her personal everyday living as much as her family relationship. It came as comfort that her family including her husband and her friends had been supportive of her at all times. Mrs L’s concern was if she could have a child when she has this problem and if the problem might flair up after her pregnancy which could potentially become more distressing and harmful to her, the child and her family. Until then, she had been able to manage herself with no medical interventions and did not possess risk to herself and others. There were no physical signs of severity.</p>
									<p style="text-align: justify;">I discussed the pros and cons of continuing the pregnancy and terminating it, in collaboration with Mrs L, getting Mrs L to elaborate on the possibilities of what might happen. The discussion of guilt evolved which could make OCD and the mental state worse, following termination. Mrs L decided that she would not terminate her pregnancy. In fact she was feeling more at ease to continue with her pregnancy when she understood the possibilities and confidently made her own decision.</p>
									<p style="text-align: justify;">At this point of the consultation, I introduced Spirituality and approached the uncertainty of life using the discussion of having trust and reliance upon Allah (Tawakkul). It has been my style to discuss Spirituality, when it could be used to the benefit of the client. No sooner Mrs L heard these words, she started crying profusely. I was more interested in the reasons of her tears as much as her words of gratitude. I could sense she felt more reassured.</p>
									<p style="text-align: justify;">Mrs L recounted that she had seen varied professionals who approached her problems and symptoms including OCD in a way that did not meet her demand and feeling of guilt was not identified that could arise due to her faith and beliefs. On the other hand, she felt reproached and rebuked by clerics, dismissing her mental state, saying it was all in the mind. She had no possibility of talking her heart out or elaborating on what she was thinking. Nobody knew what was that exact fear she had. She cried feebly, “I am not bad because I don’t wear the proper Islamic clothes nor I am mad because I have some problems in my mind.” She continued, “I would rather want someone who could understand both sides of me with no prejudice or being biased and tell me what will happen and how I could manage.” These words had left an everlasting imprints on my mind.</p>
									<p style="text-align: justify;">This was just a beginning. In a few weeks, I had a lot more of people approaching that included children, adolescent problems, family conflicts, involvement of social and legal services, which took up a lot of time, concentration and also involved huge amount of administrative duties. In a few weeks or months, it started to outgrow the capacity I could handle.</p>
									<p style="text-align: justify;">Interestingly, people approached for enhancing their spirituality such as to be able to pray regularly, wake up early, etc. I was approached by new and old reverts and people from the community, for whom I prepared psychospiritual proforma and CBT-styled worksheets (CBT – Cognitive Behavioural Therapy). It worked well and I was taken into deep amazement myself. These are again only a few examples. I was even approached by people of cleric order themselves, who were fascinated at what I was doing. Later, in a year’s time or so, I had been asked for life skills and personal and professional development training.</p>
									<p style="text-align: justify;">RevivingMinds came into existence thus founded to efficiently prioritise and manage the consultations, constructing creative projects and accomplishing administrative works, thereby also being able to perform the tasks more systematically and ethically. In the course of its journey, it is certainly in in-depth gratitude to every single one of them who contributed to its vision and mission.</p>
									<p style="text-align: justify;">It has endowed me with invaluable experience, very rewarding as much as getting to know varied things that matter in relevance to the re-building of homes and society amidst the joy and zest of creating new designs, evolving concepts and witnessing the desirable positive change in individuals and the families involved. It feels like a direct response from Allah to the supplication of being able to help and support the community besides my routine work.</p>
									<p style="text-align: justify;">I&nbsp;sincerely wish and hope that its vision and mission are accomplished with more human resources and community support. At the moment, RevivingMinds has set an objective of publishing journals. It would be very helpful if the journals were forwarded to all your family, friends and acquaintances. It is for all people from all walks of life. Thus revivingminds came into existence, making valuable contribution to people’s lives in the community and far.</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>
<script>
	new WOW().init();
</script>
<script>
	$(window).on("scroll", function() {
		if ($(this).scrollTop() > 10) {
			$("nav.navbar").addClass("mybg-dark");
			$("nav.navbar").addClass("navbar-shrink");
		} else {
			$("nav.navbar").removeClass("mybg-dark");
			$("nav.navbar").removeClass("navbar-shrink");
		}
	});
</script>
{% endblock %}